<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mx.dev.franco.automusictagfixer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:name=".AutoMusicTagFixer"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appname"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".ui.settings.ConfigurationActivity"
            android:label="@string/title_activity_configuration"
            android:theme="@style/SettingsTheme"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.main.MainActivity"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.dev.franco.automusictagfixer.ui.main.MainActivity" />
        </activity>

        <uses-library
            android:name="android.test.runner"
            android:required="false" />

        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.intro.IntroActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:theme="@style/Theme.Intro"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.trackdetail.TrackDetailActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name=".ui.sdcardinstructions.SdCardInstructionsActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" /> <!-- "mx.dev.franco.automusictagfixer.fileProvider" -->
        <!-- This provider is necessary because in android >= 7 doesn't allow to access directly to files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${documentsAuthority}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- We need this service for start or schedule GNSDK API initialization -->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>