<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mx.dev.franco.automusictagfixer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".AutoMusicTagFixer"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity
            android:name=".UI.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UI.intro.IntroActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Intro"
            tools:ignore="InnerclassSeparator"
            />
        <activity
            android:name=".UI.main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme"
            android:launchMode="singleTop"
            tools:ignore="InnerclassSeparator">
            <meta-data android:name="android.app.default_searchable"
                android:value=".UI.search.SearchActivity" />
        </activity>
        <activity
            android:name=".UI.sd_card_instructions.SdCardInstructionsActivity"
            android:parentActivityName=".UI.main.MainActivity"
            android:theme="@style/MyTransparentTheme"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".UI.track_detail.TrackDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".UI.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DetailsTrackDialogTheme"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.dev.franco.automusictagfixer.UI.main.MainActivity" />
        </activity>
        <activity
            android:name=".UI.faq.QuestionsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/faq"
            android:parentActivityName=".UI.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/QuestionsTheme"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.dev.franco.automusictagfixer.UI.main.MainActivity" />
        </activity>
        <activity
            android:name=".UI.about.ScrollingAboutActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_scrolling_about"
            android:parentActivityName=".UI.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AboutTheme"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.dev.franco.automusictagfixer.UI.main.MainActivity" />
        </activity>
        <activity
            android:name=".UI.settings.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".UI.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsStyle"
            tools:ignore="InnerclassSeparator"/>
        <activity android:name=".UI.search.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme"
            android:launchMode="singleTop"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <!-- "mx.dev.franco.automusictagfixer.fileProvider" -->
        <!-- This provider is necessary because in android >= 7 doesn't allow to access directly to files -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${documentsAuthority}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- We need this service for start or schedule GNSDK API initialization -->
        <service
            android:name=".services.ScheduleJobService"
            android:label="DetectionService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- Service that runs in background thread and have the ability to run if app is closed -->
        <service
            android:name=".services.FixerTrackService"
            android:exported="false"
            android:label="FixerTrackService" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3d4995f2cd3e5757faec4a2dadce6e00f2d0814e" />
    </application>

</manifest>