<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.dev.franco.musicallibraryorganizer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScreenSlidePagerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SelectFolderActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_folder_choser"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".QuestionsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".SelectFolderActivity"
            android:label="@string/faq"
            android:theme="@style/QuestionsTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectFolderActivity" />
        </activity>
        <activity
            android:name=".DetailsTrackDialogActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".SelectFolderActivity"
            android:theme="@style/DetailsTrackDialogTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectFolderActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".SelectFolderActivity"
            android:theme="@style/SettingsStyle" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="mx.dev.franco.musicallibraryorganizer.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- We need this service for checking internet connection and handling the gracenote api initialization -->
        <service
            android:name=".services.DetectorInternetConnection"
            android:label="DetectionService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.FixerTrackService"
            android:label="FixerTrackService" />

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>